<div class="ae-container-fluid ae-container-fluid--inner rk-main"></div>
    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6 item-lg--offset-7">
        <h4 class="ae-u-bolder au-mb-3 conatct__title">Comunícate con nosotros</h4>
        <p class="au-mb-4 contact__desc">Contáctanos! <br>Estamos listos para ayudarte</p>
      </div>
    </div>
    <div class="ae-grid">
      <div class="ae-grid__item item-lg-6">
        <div id="map-container">
          <div id="map"></div>
        </div>
      </div>
      <div class="ae-grid__item item-lg-6">
        <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
            <button id="map-arrow" class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg>
            </button>
          </div>
          <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
            <p class="au-mb-4 contact__addr">3A Avenida 10-90<br>Zona 9, Ciudad de Guatemala <br></p>
            <p> <span class="contact__phone"> <span class="rk-light-color">Phone  </span> (502) 2502 9004 - 41255421</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><strong>info@blumen.com.gt</strong></span></p>
          </div>
        </div>

           
          </div>
        </div>
